name: Ubuntu Latest Build

on:
  push:
    branches: [ 'development' ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build project
        run: |
          useradd -m nagios
          echo "nagios:password" | chpasswd
          su - nagios -c "echo 'Hello from nagios'"
          # ./build/build.sh
